<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to the GO key value store!</h1>

<a href="/" style="margin-right: 20px">HomePage</a>
<a href="/list" style="margin-right: 20px">List all elements</a>
<a href="/edit" style="margin-right: 20px">Edit an element</a>
<a href="/insert" style="margin-right: 20px">Insert an element</a>
</body>
</html>