<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/" style="margin-right: 20px">HomePage</a>
<a href="/list" style="margin-right: 20px">List all elements</a>
<a href="/insert" style="margin-right: 20px">Insert new element</a>

{{ if .Success }}
    <h1>Element updated!</h1>
{{ else }}
    <h1>Please fill in the fields:</h1>
    <form action="" method="post">
        <div>
            <label for="">Key:</label>
            <input type="text" name="key">
        </div>
        <div>
            <label for="">ID:</label>
            <input type="text" name="id">
        </div>
        <div>
            <label for="">Name:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">SurName</label>
            <input type="text" name="surname">
        </div>
        <input type="submit">
    </form>
{{ end }}
</body>
</html>